apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-amd64
  namespace: buildbarn
  annotations:
    prometheus.io/port: "80"
    prometheus.io/scrape: "true"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: worker
      instance: amd64
  template:
    metadata:
      labels:
        app: worker
        instance: amd64
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      nodeSelector:
        buildcluster/role: worker
        kubernetes.io/arch: amd64
      containers:
        - args:
            - /config/worker-amd64.jsonnet
          image: ghcr.io/buildbarn/bb-worker:20250411T124310Z-1c726bd
          name: worker
          volumeMounts:
            - mountPath: /config/
              name: configs
              readOnly: true
            - mountPath: /worker
              name: worker
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
        - command: [/bb/tini, -v, --, /bb/bb_runner, /config/runner.jsonnet]
          image: ghcr.io/rpostgres/rpostgres/debian-rbe-pgdeps@sha256:104c826449ce4419b19439b21c0534a99ccc11778be9a681504b605f6bc7d50e
          name: runner
          securityContext:
            runAsUser: 65534
            allowPrivilegeEscalation: false
          volumeMounts:
            - mountPath: /config/
              name: configs
              readOnly: true
            - mountPath: /worker
              name: worker
            - mountPath: /bb
              name: empty
              readOnly: true
      initContainers:
        - name: bb-runner-installer
          image: ghcr.io/buildbarn/bb-runner-installer:20250411T124310Z-1c726bd
          volumeMounts:
            - mountPath: /bb/
              name: empty
        - name: volume-init
          image: busybox:1.31.1-uclibc
          command:
            - sh
            - -c
            - mkdir -pm 0777 /worker/build && mkdir -pm 0700 /worker/cache && chmod 0777 /worker
          volumeMounts:
            - mountPath: /worker
              name: worker
      volumes:
        - name: empty
          emptyDir: {}
        - name: configs
          configMap:
            name: buildbarn-config
            items:
              - key: common.libsonnet
                path: common.libsonnet
              - key: runner.jsonnet
                path: runner.jsonnet
              - key: worker.libsonnet
                path: worker.libsonnet
              - key: worker-amd64.jsonnet
                path: worker-amd64.jsonnet
        - emptyDir: {}
          name: worker
